[submodule "include/pcg-c"]
	path = include/pcg-c
	url = https://github.com/imneme/pcg-c.git
[submodule "include/float_params"]
	path = include/float_params
	url = https://github.com/higham/float_params.git
[submodule "include/FloatX"]
	path = include/FloatX
	url = https://github.com/oprecomp/FloatX.git
[submodule "include/chop"]
	path = include/chop
	url = https://github.com/higham/chop.git
